<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- 数据库链接配置 -->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/house?useUnicode=true&amp;characterEncoding=utf8</property>
		<property name="connection.username">root</property>
		<property name="connection.password"></property>
		
		<!-- 应用配置 -->
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="current_session_context_class">thread</property>
		
		<!-- 映射文件 -->
		<mapping resource="pojo/User.hbm.xml" />
		<mapping resource="pojo/House.hbm.xml" />
		<mapping resource="pojo/Type.hbm.xml" />
		<mapping resource="pojo/District.hbm.xml" />
		<mapping resource="pojo/Street.hbm.xml" />
	</session-factory>
</hibernate-configuration>